@import url(https://fonts.googleapis.com/css?family=Baloo+Thambi);

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text-container > span {
    font-family: "Baloo Thambi", cursive;
    font-size: 4.5rem;
    text-transform: uppercase;
    animation: glow var(--totaltime) ease-in-out infinite;
    animation-delay: var(--delay);
}

@keyframes glow {
    0%,
    100% {
        color: var(--color);
        text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd, 0 0 100px #0652dd;
    }

    10%,
    90% {
        color: #111;
        text-shadow: none;
    }
}
